/*
TEMPORARILY DISABLING TO ALLOW GRID CSS
@import "bootstrap/grid.large";
*/
.visible-lg {
  display: block !important; }

table.visible-lg {
  display: table; }

tr.visible-lg {
  display: table-row !important; }

th.visible-lg,
td.visible-lg {
  display: table-cell !important; }

.visible-lg-block {
  display: block !important; }

.visible-lg-inline {
  display: inline !important; }

.visible-lg-inline-block {
  display: inline-block !important; }

.hidden-lg {
  display: none !important; }

html, body {
  height: 100%; }

#cop-wrap {
  min-height: 90%;
  display: block; }

form {
  min-height: 100vh; }

select {
  background-color: #006EBC;
  color: #fff;
  height: 32px;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none; }
  select option {
    background-color: #fff;
    color: #006EBC;
    padding: 5px 10px; }
    select option:hover {
      background-color: #006EBC;
      color: #fff; }

.remsCOP-content .btn {
  margin: 15px 0;
  margin-right: auto;
  margin-left: auto; }
.remsCOP-content .tabs-container {
  width: 80%; }
  .remsCOP-content .tabs-container .nav-tabs > li > a {
    height: 50px;
    padding: 15px 0 !important;
    line-height: normal; }
.remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box {
  min-height: 320px; }
  .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box img {
    height: auto;
    width: auto; }
  .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box .btn {
    max-width: 125px; }
.remsCOP-content .community-spotlight .carousel-wrapper .carousel .btn-wrapper {
  bottom: 30px; }
.remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text {
  width: 100%;
  min-height: 300px; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text p {
    text-align: left; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text .btn {
    max-width: 125px; }

.forumNav .ad {
  width: 80%; }

/*# sourceMappingURL=large.css.map */
