.modal-lg {
  width: 900px; }

@media (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; }

  .visible-md-block {
    display: block !important; }

  .visible-md-inline {
    display: inline !important; }

  .visible-md-inline-block {
    display: inline-block !important; }

  .hidden-md {
    display: none !important; } }
html, body {
  height: 100%; }

#cop-wrap {
  min-height: 90%;
  display: block; }

form {
  min-height: 100vh; }

select {
  background-color: #006EBC;
  color: #fff;
  height: 32px;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none; }
  select option {
    background-color: #fff;
    color: #006EBC;
    padding: 5px 10px; }
    select option:hover {
      background-color: #006EBC;
      color: #fff; }

.remsCOP-content .tabs-container {
  width: 80%; }
  .remsCOP-content .tabs-container .nav-tabs > li > a {
    height: 50px;
    padding: 5px 0 !important;
    line-height: normal; }

/*# sourceMappingURL=med.css.map */
