.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

html, body {
  height: 100%; }

#cop-wrap {
  min-height: 90%;
  display: block; }

form {
  min-height: 100vh; }

select {
  background-color: #006EBC;
  color: #fff;
  height: 32px;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none; }
  select option {
    background-color: #fff;
    color: #006EBC;
    padding: 5px 10px; }
    select option:hover {
      background-color: #006EBC;
      color: #fff; }

header .tag-line-banner .tag-line-wrapper {
  width: 100%; }
  header .tag-line-banner .tag-line-wrapper h2 {
    float: none;
    font-size: 22px; }
header .copNav {
  height: 50px;
  overflow-y: hidden; }
  header .copNav .ad {
    width: 100%; }
    header .copNav .ad ul {
      margin: -4px 0; }
      header .copNav .ad ul li {
        font-size: 9px; }
        header .copNav .ad ul li a {
          padding: 10px 0;
          line-height: 18px; }
    header .copNav .ad .cop-user {
      line-height: 36px; }
header .forumNav ul li a {
  line-height: 36px; }

.remsCOP-content .row {
  padding: 0 !important; }
.remsCOP-content h1 {
  font-size: 25px; }
.remsCOP-content h2 {
  font-size: 22px; }
.remsCOP-content h3 {
  font-size: 20px; }
.remsCOP-content .btn {
  margin: 20px 0;
  padding: 5px 20px;
  width: 280px;
  display: block;
  margin-right: auto;
  margin-left: auto; }
.remsCOP-content .tabs-container {
  width: 100%; }
  .remsCOP-content .tabs-container .nav-tabs > li > a {
    font-size: 12px;
    padding: 12px 1px 0 !important;
    line-height: normal;
    min-height: 50px; }
  .remsCOP-content .tabs-container .tab-content {
    padding: 20px; }
.remsCOP-content .trending-topics {
  padding-bottom: 60px; }
  .remsCOP-content .trending-topics p {
    text-align: left; }
  .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box {
    min-height: 400px;
    overflow: hidden;
    text-overflow: ellipsis; }
    .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box h3 {
      float: none;
      text-align: center; }
    .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box img {
      float: none; }
    .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box p {
      margin: 15px 0; }
    .remsCOP-content .trending-topics .carousel-wrapper .carousel .topics-box .btn {
      float: none;
      max-width: 280px;
      margin-right: auto;
      margin-left: auto; }
.remsCOP-content .community-spotlight .carousel-wrapper .carousel .btn-wrapper span {
  width: 48%; }
.remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text {
  width: 100%;
  padding: 10px 30px 30px;
  min-height: 620px;
  margin: 20px 0; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text p {
    text-align: left;
    line-height: 21px;
    margin: 0; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text img {
    margin-bottom: 20px; }
  .remsCOP-content .community-spotlight .carousel-wrapper .carousel .spotlight-box .spotlight-text .btn {
    float: none;
    margin-top: 20px;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto; }
.remsCOP-content .cop-log-home .btn-wrap ul li .btn {
  margin-bottom: 20px;
  width: 280px;
  margin-right: auto;
  margin-left: auto; }
.remsCOP-content .forumContent .input-wrap {
  width: 100%; }
.remsCOP-content .forumContent .btn, .remsCOP-content .forumContent select {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 280px; }
.remsCOP-content .forumContent table tbody h2 {
  font-size: 18px; }
.remsCOP-content .community-huddles .fa-map-marker {
  float: none; }
.remsCOP-content .community-huddles ul li {
  display: block;
  margin: 0; }
  .remsCOP-content .community-huddles ul li .btn {
    margin-right: auto;
    margin-left: auto;
    width: auto; }

.forumNav {
  font-size: 11px;
  overflow-y: hidden; }
  .forumNav ul {
    width: 100%; }
    .forumNav ul li a {
      line-height: normal;
      padding: 10px 0;
      height: 50px; }

.community-forum-header {
  height: 135px; }
  .community-forum-header .container {
    width: 100%;
    padding: 0 5px; }
  .community-forum-header .header-container {
    display: none; }
  .community-forum-header .list-container {
    display: block;
    width: 100%;
    font-size: 10px;
    padding: 0 10px; }
    .community-forum-header .list-container ul {
      width: 100%;
      display: block; }
      .community-forum-header .list-container ul li {
        text-align: left;
        display: block;
        margin-bottom: 10px; }

.activity ul li {
  display: block; }

.remsCOP-account label {
  display: block;
  text-align: center;
  width: 300px; }
.remsCOP-account .btn {
  display: block;
  margin: 20px 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px; }

/*# sourceMappingURL=xsmall.css.map */
