header {

    
    
////////////////////////////   BEGIN TAG LINE BANNER //////////////////////////// 
    
        .tag-line-banner {

            
            .tag-line-wrapper {
                width: 100%;

            
            h2 {

                float: none;
                font-size: 22px;
            }
            
            p {

            }
            
            img {

                
            }
                
            }
        }
    
////////////////////////////   END TAG LINE BANNER //////////////////////////// 
    
////////////////////////////  BEGIN COP SUB NAVIGATION  ////////////////////////////   
 
    .copNav {
        height: 50px;
        overflow-y: hidden;

      .ad {
          
          width: 100%;
     .active {

     
     }
        
         ul {

                 margin: -4px 0;
             li {
                 font-size: 9px;
                 
                 a {

                 padding: 10px 0;
                line-height: 18px;


                     
                 }
             }
         }
        
      
        .cop-user {

             line-height: 36px;           

            
        }
      }
}
    
    
         /// Logged In

         .copNav[id='loggedIn'] { 
             
            // display: none;
                                    
             
        }   
    
 //forums
    
    
    
             .copNav[id='forums'] { 
             
            // display: none;
             
              ul {
                  
                  li {

                      
                  }
            }
                
             
             
        }  
    
    
    
    
       
////////////////////////////  END COP SUB NAVIGATION  //////////////////////////// 
    
    
////////////////////////////  BEGIN FORUM NAVIGATION  ////////////////////////////     
    
    
.forumNav {
    

     
    
    
    ul {
      
        
        
        li {

           

                  a {

                     line-height: 36px;

                     

                     
                 }           
            
            
        }
    }
    
    
}
    
    
//////////////////////////// END FORUM NAVIGATION  ////////////////////////////  

    
    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
.community-forum-header {
    

  
     .header-container {

    
    h2 {

        
    }
         
     }
    
    span {

        
    }
    
   .counter {


       
   }
    
    .list-container {

    
         ul {

             
             li {

                
                 
                 a {

                     

                     
                 }
                 
                 img {
                     

                 }
                 
                 
             }
         }
    }
    
}
    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
    
    
}