header {

    
    
////////////////////////////   BEGIN TAG LINE BANNER //////////////////////////// 
    
        .tag-line-banner {

            
            .tag-line-wrapper {


            
            h2 {


            }
            
            p {

            }
            
            img {

                
            }
                
            }
        }
    
////////////////////////////   END TAG LINE BANNER //////////////////////////// 
    
////////////////////////////  BEGIN COP SUB NAVIGATION  ////////////////////////////   
 
    .copNav {


      .ad {
          
          width: 100%;
      }
          

     .active {

     
     }
        
         ul {


             li {

                 
                 a {



                     
                 }
             }
         }
        
      
        .cop-user {

    

            
        }
      }

    
    
         /// Logged In

         .copNav[id='loggedIn'] { 
             
            // display: none;
                                    
             
        }   
    
 //forums
    
    
    
             .copNav[id='forums'] { 
             
            // display: none;
             
              ul {
                  
                  li {

                      
                  }
            }
                
             
             
        }  
    
    
    
    
       
////////////////////////////  END COP SUB NAVIGATION  //////////////////////////// 
    
    
////////////////////////////  BEGIN FORUM NAVIGATION  ////////////////////////////     
    
    
.forumNav {
    

     
    
    
    ul {
      
        
        
        li {

           

                  a {



                     

                     
                 }           
            
            
        }
    }
    
    
}
    
    
//////////////////////////// END FORUM NAVIGATION  ////////////////////////////  

    
    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
.community-forum-header {
    

  
     .header-container {

    
    h2 {

        
    }
         
     }
    
    span {

        
    }
    
   .counter {


       
   }
    
    .list-container {

    
         ul {

             
             li {

                
                 
                 a {

                     

                     
                 }
                 
                 img {
                     

                 }
                 
                 
             }
         }
    }
    
}
    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
    
    
}