﻿<%@ Page Title="" Language="C#" MasterPageFile="~/COP/Site.master" AutoEventWireup="true" CodeFile="copMarketing.aspx.cs" Inherits="COP_copMarketing" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
</asp:Content>

