<%@ Master Language="C#" MasterPageFile="~/remsForumMasterPage.master" AutoEventWireup="true" Codebehind="AspNetForumMaster.master.cs" Inherits="aspnetforum.AspNetForumMaster" %>
<%@ Import Namespace="aspnetforum.Utils" %>
<script runat="server">
protected void lbtlogout_Click(object sender, EventArgs e)
    {
        //log out 
        Session.Abandon();
        FormsAuthentication.SignOut();
        Response.Redirect("~/Default.aspx", true);
        //FormsAuthentication.RedirectToLoginPage();
    }
</script>

<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
    <asp:contentplaceholder id="ContentPlaceHolderHEAD" runat="server">
	</asp:contentplaceholder>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="ContentMain" Runat="Server">
    <div class="forumContent">


       
<!--BEGIN FORUM NAV--> 

<div class="forumNav" enableviewstate="false" runat="server" id="divHeader">
					<div class="container ad">
						<div class="grid_12 omega">
							<div class="grid_12 omega">
								<ul>
									<li><a href="recenttopics.aspx"> <%= aspnetforum.Resources.various.RecentTopics %></a></li>
									<li><a href="recent.aspx"><%= aspnetforum.Resources.various.RecentPosts %></a></li>
									<li><a href="search.aspx"><%= aspnetforum.Resources.various.Search %></a></li>
									<li id="usersLink" runat="server" enableviewstate="false"><a href="users.aspx"><%= aspnetforum.Resources.various.Users %></a></li>
                                    <li id="adminLink" runat="server" enableviewstate="false"><a href="admin.aspx"><%= aspnetforum.Resources.various.Administrator %></a></li>
                                    <% if(aspnetforum.Utils.User.IsCurrentUserModerator()) { %>
									<li><a href="unapprovedposts.aspx">Moderator <%= ModeratorCount > 0 ? "(" + ModeratorCount + ")" : "" %> </a></li>
									<% } %>
                                    <li><a href="faq.aspx">FAQ</a></li>
									<li><a href="recent.aspx?rss=1" runat="server" id="rssLink" enableviewstate="false"> <span class="fa fa-rss"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
      
 <!--END FORUM NAV-->      
       
       
  <!--BEGIN FORUM COUNTER -->     
       
<div class="community-forum-header">
					<div class="container">
						<div class="grid_12 omega">
							<div class="header-container">
								<h2>Forums</h2>
                                </div>
							<div class="list-container" runat="server" enableviewstate="false">
								<ul>
									<li><span class="fa fa-circle"></span> Unread Topics <span runat="server" id="spanNumUnreadThreads" enableviewstate="false" class="counter"></span></li>
									<li><span class="fa fa-envelope"></span> Messages <span runat="server" id="spanNumMsgs" enableviewstate="false" class="counter">3</span></li>
									<li><img runat="server" id="imgAvatar" class="avatar" enableviewstate="false" src="images/profile-placeholder.gif" alt="guest avatar">
                                    <a href="" id="viewProfileLink" class="pad-right" runat="server" title="edit my profile" enableviewstate="false"></a>
                                    <a href="editprofile.aspx"><%= aspnetforum.Resources.various.MyProfile %></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>        
        
        
        
 <!--END FORUM COUNTER --> 
       

		<% if(aspnetforum.Utils.User.CurrentUserID!=0 && Page is aspnetforum.AdminForumPage) { %>
		<!-- admin menu -->
		<div class="topheader" style="margin-bottom:10px"><div class="innercontainer"><ul>
			<li style="float:left;margin:0;"><b><a href="admin.aspx" style="color:white"><asp:Label ID="lblAdministrator" runat="server" EnableViewState="False" meta:resourcekey="lblAdministratorResource1">Administrator</asp:Label></a></b></li>
			<li><a href="adminsettings.aspx"> <asp:Label ID="lblSettings" runat="server" EnableViewState="False" meta:resourcekey="lblSettingsResource1">configuration</asp:Label></a></li>
			<li><a href="editsubforums.aspx"><asp:Label ID="lblSubforums" runat="server" EnableViewState="False" meta:resourcekey="lblSubforumsResource1">edit subforums</asp:Label></a></li>
			<li><a href="adminusergroups.aspx"><asp:Label ID="lblUserGroups" runat="server" EnableViewState="False" meta:resourcekey="lblUserGroupsResource1">edit user-groups</asp:Label></a></li>
			<li><a href="allusers.aspx"><asp:Label ID="lblUsers" runat="server" EnableViewState="false" meta:resourcekey="lblUsersResource1">all users</asp:Label></a></li>
            <li><a href="remsUserinfo.aspx">Register list</a></li>
			<li><a href="adduser.aspx"><asp:Label ID="lblAddUser" runat="server" EnableViewState="False" meta:resourcekey="lblAddUserResource1">manualy add a user</asp:Label></a></li>
			<li><a href="emailallusers.aspx"><asp:Label ID="lblEmailAll" runat="server" EnableViewState="False" meta:resourcekey="lblEmailAllResource1">email/PM all users</asp:Label></a></li>
			<li><a href="purgeoldtopics.aspx"><asp:Label ID="lblPurge" runat="server" EnableViewState="False" meta:resourcekey="lblPurgeResource1">purge old topics</asp:Label></a></li>
			<li><a href="managecalendar.aspx" target="_blank"><asp:Label ID="Label1" runat="server" EnableViewState="False" >Manage Calendar</asp:Label></a></li>
			</ul>
		</div>
		</div>
		<% } %>

        <asp:ContentPlaceHolder ID="DefaultContentPlaceHolder" runat="server">
		</asp:ContentPlaceHolder>
		<div class="forumcontent innercontainer">
		<asp:ContentPlaceHolder ID="AspNetForumContentPlaceHolder" runat="server">
		</asp:ContentPlaceHolder>
		<br style="clear:both" /><br />
		</div>
        
        
   
 </div>  <!-- /forumContent -->

	<script type="text/javascript">
	    function EnterKeyToButton(buttonId) {
	        if (event.which || event.keyCode) { if ((event.which == 13) || (event.keyCode == 13)) { document.getElementById(buttonId).click(); return false; } } else { return true };
	    }
	</script>

	<div id="fb-root"></div>
	<script type="text/javascript">
	    window.fbAsyncInit = function () {
	        FB.init({ appId: '<%= aspnetforum.Utils.Settings.FacebookAppID %>', status: true, cookie: true, xfbml: true, oauth: true });
	    };
	    (function () {
	        var e = document.createElement('script'); e.async = true;
	        e.src = document.location.protocol +
			'//connect.facebook.net/en_US/all.js';
	        document.getElementById('fb-root').appendChild(e);
	    } ());
	</script>

	<script type="text/javascript">
	    function FbLogin() {
	        FB.login(function (response) {
	            if (response.authResponse) {
	                // user is logged in and granted some permissions.
	                document.location.href = 'facebooklogin.aspx?token=' + response.authResponse.accessToken + "&uid=" + response.authResponse.userID;
	            } else {
	                // user is not logged in
	            }
	        }, { scope: 'email' });
	    }
	</script>

</asp:Content>

		