.remsCOP-account {
    
    text-align: center;
    
    h2 {
        text-align: center;
        font-family: Marcellus;
        font-size: 25px;
        text-transform: uppercase;
    }
    
    legend {
        color: $header-color;
        font-family: Marcellus;
    }
    
    label {
        
        color: $content-font-color;
        display: inline-block;
        text-align: left;
        width: 200px;
        
        &:before {
            content: "";
            color: #ff0000;
        }
        
    }
    
 .btn {
     display: inline-block;
     color: #fff;
     padding: 5px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     border: none;
     margin: 0 15px;
     background-color: $header-color;
     
     
     &:hover {
        background-color: $tag-line-bg-color;
     }
 
 }
    
}

.forumContent {

.innercontainer {

    
          a {
            font-size: 16px!important;
            
        }  
    
    
    .location {
        
        font-size: 16px!important;
        

    
    h2 {
        text-align: left !important;
        text-transform: uppercase !important;
        color: $header-color !important;
    }
        
    }
    
}
    
}