.remsCOP-account {
    

    
    h2 {

    }
    
    legend {

    }
    
    label {
        display: block;
        text-align: center;
        width: 300px;
    }
    
 .btn {
     display: block;
     margin: 20px 0;
     margin-left: auto;
     margin-right: auto;
     width: 300px;
  
 }
    

}