.remsCOP-content {

    
    
 .row {

     
 }
    
    
 h1 {


 }
    
 h2 {



     
 }
    
  h3 {


     
 }   
    
    
    
 p {

     
 }
    
 section {

 }
    
   
    
 .btn {

    margin: 15px 0;
     max-width: 300px;
    margin-right: auto;
    margin-left: auto;
     display: block;
 
 }
    
    
  .pad-top {
   
 }  
    
    
    .tabs-container {

            width: 80%;
           
  
   .nav-tabs {
   
 
       
   }
            
        .nav-tabs > li {


    }
            
      .nav-tabs > li > a {

        height: 50px;
        padding: 15px 0 !important;
          line-height: normal;

          
    }  
        
              
     
        
   .tab-content {


   }
 
    }
    
    
.trending-topics {

    
    p {

    }
   
  
.carousel-indicators {

    

    li {


        
    }
        
    .active {

    }
    
    
}
    
.carousel-control {
    

    
}   
       
 .carousel-wrapper {
     

     
     .carousel {
            
         
         .topics-box {
                 min-height: 290px;

              h3 {

             }   
             
             img {
                 height: auto;
                 width: auto;
             }
             
             p {

                 
             }
             
             .btn {

                 max-width: 125px;
  
                 
             }
             
             
         }
         
     }
       
 }
    
    
}
    
 
.community-spotlight { 

    
    p {

    }
    
    
 a[href^="http"] {


}  
  
.carousel-indicators {
    

}
    
.carousel-control {

    
}   
       
 .carousel-wrapper {

     
     .carousel {
         
         .btn-wrapper {
           

                 bottom: 30px;
             
             span {


                 a {


                 }
             }
         }
         
         
        span[class="fa fa-twitter-square"] {
     
        }
            
         
         .spotlight-box {
             
       
             
                .spotlight-text {
                    
                    width: 100%;
                    min-height: 400px;
        
             
                      h3 {

                        
                     }   


                     p {

                         text-align: left;
                     }

                    
                                    
           img {
               
         }               
              
                     .btn {

                         max-width: 125px;
                     }
             
             
                }
             
             
         }
         
     }
     
     
     
 }
    
    
}
    

    
.cop-log-home {
    
    h2 {

    }
    
    .btn-wrap {

        
        
        p {

        }
        
        
        ul {
 
            
            li {

                
            .btn {
                max-width: 300px;
            }
        }
            
        }
        

        
    }
    
    
}
    
 
.forumContent {
    
    
    .ad {
        width: 80%;
        
    }
    
            
        h2 {

        }
    
    
 .header-wrap {

     
 }
    
.input-wrap {

    
}
        
    
    table {
        

        
        thead {
            
            
            tr {
                

                
            }
            
        }
        
        tr {

        
        th, td {
            

            
            &:first-child {

            }
            
            &:nth-child(2), &:last-child {

            }
    
            
        }
            
            
        }
        
        tbody {
            
            h2 {

            }
            
            p {

            }
            
            
            tr {

                
            }
            
        }

        
        
    }
    
}
    
   
       
    
    
.community-huddles {

    
   
.fa-map-marker {
   

}
    
    .community-btn-wrap {

        
        
        p {

        }
        
    }
    
        ul {
 
            
            li {

            .btn {
                margin-right: auto;
                margin-left: auto;
                width: auto;
            }
        }
            
        }
}
    
    
    
}



////////////////////////////  BEGIN FORUM NAVIGATION  ////////////////////////////     
    
    
.forumNav {
    
    .ad {
        width: 100%;
    }
     
    
    
    ul {
     

        
        li {

        

                  a {

                     

                 }           
            
            
        }
    }
    
    
}
    
    
//////////////////////////// END FORUM NAVIGATION  ////////////////////////////  


    
 ////////////////////////////  BEGIN COMMUNITY FORUM NAVIGATION  //////////////////////////// 
    
    
.community-forum-header {
    

  
     .header-container {

    
    h2 {

        
    }
        
         
     }
    
    span {

        
    }
    
   .counter {


       
   }
    
    .list-container {

    
         ul {

             
             li {

                
                 
                 a {


                     
                 }
                 
                 
                 a.sublink {

                     

                     
                 }
                 
                 img {
                     

                 }
                 
                 
             }
         }
    }
    
}
    
 ////////////////////////////  END COMMUNITY FORUM NAVIGATION  //////////////////////////// 


 //////////////////////////// BEGIN WHATS GOING ON (ACTIVITY)  //////////////////////////// 

.activity {

    
    ul {

        
        li {

            
            span {

            }
        }
    }
    
}



 //////////////////////////// END  WHATS GOING ON (ACTIVITY)  //////////////////////////// 
