<%@ Page language="c#" Codebehind="logout.aspx.cs" AutoEventWireup="True" Inherits="aspnetforum.logout" MasterPageFile="AspNetForumMaster.Master" %>
<asp:Content ContentPlaceHolderID="AspNetForumContentPlaceHolder" ID="AspNetForumContent" runat="server"></asp:Content>